body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color:whitesmoke ;
    
    
    background-size:100%;
}
a{
    text-decoration: none;
}
ul{
    list-style:none;
}
input, button, textarea{
    border:none;
    outline:none;
}
nav{
    display:flex;
    justify-content: center;
    align-items:center;
    left:0;
    top:0;
    width: 100%;
    z-index:1 ;
}
nav ul{
    display: flex;
}
nav ul li a {
    height:40px;
    line-height:43px;
    margin:3px;
    padding:0 22px;
    display: flex;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 3px;
    transition-timing-function: 0.6s ease-in-out;
    color: rgb(255, 255, 255);
}
nav ul li a:hover{
    background-color: tomato;
    color:whitesmoke;
    box-shadow:5px 10px 30px rgba(252, 98, 52, 0);
}
header{
    text-align: center;
    background-color:blanchedalmond;
    color:black;
}
footer{
    text-align: center;
    background-color: blanchedalmond;
    color:black;
    position: fixed;
    width: 100%;
}
form{
    text-align: center;
    width: 600px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    

}
 


#email{
    width:250px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left:30px ;
    height:40px;
}

.poruka{
    color:rgb(153, 147, 147);
}

#textarea{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 30px;
    width: 500px;
}
#submit{
    background-color: #051e22;
    color:rgb(228, 213, 213);
    width: 200px;
    height:50px;
}
h2{
    text-align: center;
}
.error{
    text-align: center;
}
p{
    background-color: rgb(65, 58, 58);
    color: blanchedalmond;
    height:400px;
    width:900px;
}



